<div class="container">   
    
  <%= form_for @appointment, url: {action: :update} do |f| %>   
       
     <h3>Add a Appointment</h3>   
   <%= "<div>#{@appointment.errors.full_messages.first}</div>".html_safe if @appointment.errors.any? %>   
      <p>   
    
       <div>   
              <label>Patient Name</label>   
              <%= f.text_field :patient %>   
       </div>   
    
       <div>   
              <label>Doctor name</label>   
              <%= f.text_field :doctor %>   
       </div>   
          
       <div>   
              <label>Timing</label>   
              <%= f.text_field :timing %>   
       </div>   
    
        </p>   
     <div>   
        <%= link_to 'Back', { controller: 'appointments', action: 'index'} %>   
        <%= f.submit 'Update appointment' %>   
      </div>   
  <% end %>   
</div>

